<table class="table">
  <thead>
    <tr>
      <th scope="col">Commentaires</th>
      <th scope="col">Auteurs</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |c| %>
      <tr>
        <td><%= c.content %></td>
        <td><%= link_to c.user.first_name, user_path(@gossip.user.id) %></td>
        <td class="btn btn-info btn-sm mr-3" role="button" aria-pressed="true" style="width:100px;"> <%= link_to "Editer", edit_gossip_comment_path(c.gossip_id, c.id) %></td>
        <td class="btn btn-danger btn-sm" role="button" aria-pressed="true" style="width:100px;"> <%= link_to 'Supprimer', gossip_comment_path(c.gossip_id, c.id), method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>